
@import '../styles/commonStyles';

.fdbks_CommonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fdbks_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.fdbks__sigleFbdk {
  @media screen and (max-width: $screen_mobile) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    min-height: 350px;
    padding: 10px;
  }

  @media screen and (min-width: $screen_desktop) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 663px;
    height: fit-content;
    min-height: 301px;
    margin: 0 20px;
    padding: 5px;
  }  

}

.fdbks__textblock {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.fdbks__bold {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;  
}

.fdbks__date {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  
  margin-right: 20px;
}




