@import '../styles/commonStyles';

.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  height: 70px;
}

.menu__ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.menu__li {
  margin-right: 20px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;  
}
.menu__li:hover {
  box-shadow: inset 200px 0 0 0 $color_hover;
  color: white;  
}


.menu__li a {
  text-decoration: none;
  color: black;
  
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}


.menu_phone {
  text-decoration: none;
  color: black;
    
  font-family: Nunito Sans;
   font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

/* burger menu */
$bm_height: 40px;
$bm_width: 40px;
$bm_backgr: black;
$bm_line_height: 4px;

.burger_btn {
  width: $bm_width;
  height: $bm_height;
  position: relative;
}
.burger_btn span {
  width: $bm_width;
  height: $bm_line_height;
  top: calc($bm_height/2 - $bm_line_height/2);
  position: absolute;
  background-color: $bm_backgr;
}

.burger_btn:before {
  content: '';
  width: $bm_width;
  height: $bm_line_height;
  background-color: $bm_backgr;
  position: absolute;
  top: 0;
}
.burger_btn:after {
  content: '';
  width: $bm_width;
  height: $bm_line_height;
  background-color: $bm_backgr;
  position: absolute;
  bottom: 0;
}

.burger_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.burger_menuContent {
  background-color: #3D7989;
  width: 100%;
  height: 100%;
}

.burger_menuContent_ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /*height: 100vh;  */
  padding: 40px 0;
  align-items: flex-start;
}

.closeImg_wrapper {
  background-color: #3D7989;
  width: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.burger_menuContent_ul a {
  color: black;
  text-decoration: none;
  font-family: Lora;
  font-size: 20px;  
}


.CIM2 {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-around;
  height: 100vh;  

  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}  


.burgerMenu__menu {
  font-family: Nunito Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.burgerMenu__name {
  font-family: Nunito Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.burgerMenu__title {
  font-family: Nunito Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}


.burger_menuContent_li {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;

  margin-bottom: 15px;
}

.burger_menuContent_li a {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
