@import '../styles/commonStyles';

.ms_wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.ms_arrowsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.ms_arrow {
  margin: 0 10px;
}

