
@import 'commonStyles';

.rootWrapper {
  max-width: 1400px;
  margin: 0 auto;
}

/* common styles --------------------------------- */
.PageHeader {
  min-height: 383px;
  background-color: #EEF7FF;
}
.PageHeader2 {
  position: relative;
  top: -70px;
  min-height: 383px;
  background-color: #EEF7FF;
  z-index: -1;
}


.div_textQuote {
  @media screen and (max-width: $screen_mobile) {
    font-family: Gilroy;
    font-size: 40px;
    color: #436A8B;
    margin-bottom: 20px;  
    text-align: center;
  }

  @media screen and (min-width: $screen_desktop) {
    font-family: Gilroy;
    font-size: 70px;
    font-weight: 250;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: left;
    color: #436A8B;
  }  

}

.div_textQuoteAuthor {
  font-family: Gilroy;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
}

.btnSignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 67px;
  background-color: #2B7276;
  color: white;

  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-align: center;
}

/* main containers (old)---------------------------------------- */
%divPage_template {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.divMain {
  margin: 0 auto;
  width: 100%;
}
.divPageFitCont {
  @extend %divPage_template;
  min-height: fit-content;
}
.divPage {
  @extend %divPage_template;
}
.divPageW90 {
  @extend %divPage_template;
  width: 90%;
}
.divPageH70 {
  @extend %divPage_template;
  min-height: 70vh;
}

/* main containers (responsive)---------------------------------------- */

/* h2 title for blocks ---------------------------------------- */
.title_h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 300;
  line-height: 68px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 100px;
}

.title_h2::before {
  content: "";
  height: 99px;
  border-left: 1px solid black;
  position: absolute;
  top: -85px;
}

/* <a> link with error style and pseudo */  
.linkWithArrow {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  
  color: #458880;
}

.linkWithArrow:after {
  content: '';
  background-image: url('../public/common/arrow16.png');
  background-size: 163px 5px;
  display: block;
  width: 163px;
  height: 5px;
  margin-top: 10px;
}

/* blue background block */
.backgrrelative {
  background-color: rgb(238, 247, 255);
  height: 550px;
  position: relative;
  bottom: 550px;
  z-index: -1;
  margin-bottom: -500px;
}


