
@import '../styles/commonStyles';

.rules_header__text {
  font-size: 25px;
}

.rules_line_wrapper {
  display: flex;
  flex-direction: column;
}

.rules_line {
  display: grid;
  grid-template-columns: 200px 60px 200px;
}

.rules_annotation {
  max-width: 600px;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 40px;
}  


.rules_divCenter {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 0 auto;
  margin-bottom: 20px;

  @media screen and (max-width: $screen_mobile) {
    padding: 0 20px;
  }
}

