
@import '_commonStyles';

.h2_color {
  color: $header_primary;
}


.personInfo_wrapper {
  display: flex;
  max-width: 1400px;
  position: absolute;
  top: 200px;
  left: 10%;
  right: 10%;
}
.personInfo {
  height: calc(100vh - 383px);
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  width: 600px;
  min-width: 600px;
  justify-content: space-between;
}
.personInfo__name {
  font-family: Lora;
  font-size: 60px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 20px;  
}
.personInfo__titles {
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}


.img_portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  width: 636px;
  min-width: 636px;
  height: 642px;
}

/* About section ----------------- */
.homeAbout__wrapper {
  display: flex;
  justify-content: center;
  min-width: 1200px;
}

.homeAbout__imgWrapper {
  width: 622px;
}

.homeAbout__contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  width: 452px;
  margin-left: 50px;
} 

.homeAbout__title {
  font-family: Lora;
  font-size: 35px;
  font-weight: 400;
  line-height: 44.8px;
  letter-spacing: 0em;
  text-align: left;
}
.homeAbout__text {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

/* Article section ----------------- */
.homeArticles__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;  
  min-height: 40px;
  margin-top: 40px;  
}
.homeArticles__arrowWrapper {
  /*width: fit-content;*/
  width: 50px;
  margin: 0 auto;  
}

/* I can help section */
.help_ul {
  padding: 0;
  list-style: none;  
  width: 900px;
  margin: 60px auto;  
}
.help_li {
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  margin: 40px auto;
}
.help_litext {
  max-width: 800px;
  margin-left: 40px;

  font-family: Lora;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  
}


.backgrrelative {
  background-color: rgb(238, 247, 255);
  height: 550px;
  position: relative;
  bottom: 550px;
  z-index: -1;
  margin-bottom: -500px;
  min-width: 1200px;  
}


